body {
    padding: 100px 0px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

p span {
    color: #000;
}

li {
    line-height: 20px;
}

li::before {
    font-weight: bold;
    padding-right: 10px;
}

.wrapper { 
    margin: auto;

    width: 1000px;
    background: #FFFFFF;
    box-shadow: 0px 20px 5px 10px gray;

    display: flex;
}

.main-content {
    width: 70%;
    background: url('./resources/gradient.webp') no-repeat center;
    background-size: cover;
}

.side-bar {
    width: 30%;
    background: #E0EBFE;
}

.side-bar li::before {
    content: "\2022";
    color: #6D9BF5;
}

.image {
    width: 100%;
    height: 354px;

    background: url('./resources/Ñ.jpg') no-repeat center;
    background-size: cover;
    background-position: 0 0;
}

.side-bar > div:nth-child(2) {
    padding: 51px 0px 0px 40px;
}

.side-bar h3 {
    margin-bottom: 8px;
}

.contacts {
    margin: 0px 0px 47px 0px;
}

.tech-skils {
    margin: 0px 0px 44px 0px;
}

.main-content > div {
    padding: 98px 145px 0px 88px;
}

.main-content li::before {
    content: "\2022";
    color: #595959;
}

.about-me {
    margin: 0px 0px 64px 0px; 
}

.my-projects {
    margin: 0px 0px 51px 0px; 
}

.work-experience {
    margin: 0px 0px 43px 0px; 
}

.education {
    margin: 0px 0px 111px 0px; 
}

/* Stilisation */

.about-me > h2 {
    margin: 0px 0px 19px 0px;
}

.about-me > h1 {
    margin: 0px 0px 29px 0px;
}

.about-me > p {
    line-height: 24px;
    font-size: 14px;
}

.my-projects > h3 {
    margin: 0px 0px 8px 0px;
}

.my-projects > ol {
    list-style: none;
}

.my-projects > ol > li::before {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.my-projects > ol > li:first-child::before {
    content: '1.';
    margin-right: 17px;
}

.my-projects > ol > li:nth-child(2):before {
    content: '2.';
    margin-right: 14px;
}

.my-projects > ol > li:nth-child(3):before {
    content: '3.';
    margin-right: 14px;
}

.my-projects > ol > li:first-child::after {
    content: '................................[HTML5, CSS3]';
}

.my-projects > ol > li:nth-child(2):after {
    content: '......................[JavaScript]';
}

.my-projects > ol > li:nth-child(3):after {
    content: '......................[React.js, Node.js]';
}

.work-experience > h3 {
    margin: 0px 0px 12px 0px;
} 

.work-experience h4 {
    margin: 0px 0px 11px 0px;
} 

.company-1 h4::after {
    content: " Freelance";
    color: #6D9BF5;
} 

.company-2 h4::after {
    content: " Banderogusak & Co.";
    color: #6D9BF5;
} 

.company-3 h4::after {
    content: " BestUA Corp.";
    color: #6D9BF5;
} 

.work-experience p {
    font-size: 12px;
    color: #A8A8A8;
    margin-bottom: 8px;
}

.education h3 {
    margin-bottom: 12px;
}

.education h4 {
    margin-bottom: 11px;
    color: #6D9BF5;
}

.education p:nth-child(3) {
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 12px;
}

.education p:nth-child(4) {
    font-size: 12px;
    color: #A8A8A8;
    margin-bottom: 8px;
}